* {
  margin: 0px;
}
body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;
}

.logo-container {
  flex: 1;
}

.logo {
  font-family: "Sen", sans-serif;
  font-size: 30px;
  color: rgb(221, 232, 17);
  
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin: 30px;
}
.menu-list-item:hover {
 color: yellow;
 cursor: pointer;
}
.menu-list-item.active {
  font-weight: bolder;
}

.profile-container {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}


.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 20px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease all;
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: spa; */
  padding-top: 60px;
}
.left-menu-icon {
  color: aliceblue;
  font-size: 22px;
  margin-bottom: 30px;
}
.left-menu-icon:hover {
  color: yellow;
  font-weight: bold;
  cursor: pointer;
}

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: blanchedalmond;
  /* background-color: #151515; */
}

.content-container {
  margin-left: 50px;
}

.featured-movie {
  height: 50vh;
  padding: 50px;
}
.starter{
  height: 100vh;
  padding: 50px;
  background-color: black;
}
.text{
  /* width: 10050px; */
  text-align: center;
  /* width: 550px; */
  /* -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 0px 30px #FFD700;
  -moz-box-shadow: 0px 0px 30px #FFD700;
  box-shadow: 0px 0px 30px #FFD700;
  border: 0px solid #000000;
  text-shadow: 0px 0px 16px #f7f7f1;
  box-shadow: 0px 0px 30px #FFD700; */
  font-size: 30px;
  font-family:fantasy;
  margin-top: 100px;
  color: white;
  width: 550px;

}
.starter-desc{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  color: white;
  text-shadow: 0px 0px 16px #f7f7f1;
}

.featured-movie{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515),
  url('../images/black-adam-2022-cover.jpg');
}

.fetured-title {
  margin-left: 30px;
  /*margin-top: 30px; */
  width: 170px;
  height: 248px;
  border-radius: 18px;
}

.featured-desc {
  width: 500px;
  color: white;
  margin: 30px 30px;
}

.featurd-button {
  background-color:rgb(65 118 220 / 89%);
  color: black;
  padding: 10px 20px;
  margin: 10px 30px;
  border-radius: 20px;
  
  -webkit-box-shadow: 0px 0px 15px #4169E1;
  -moz-box-shadow: 0px 0px 15px #4169E1;
  box-shadow: 0px 0px 15px #4169E1;
  /* -webkit-border-radius: 20px;
  -moz-border-radius: 20px; */
  /* -webkit-box-shadow: 0px 0px 20px rgb(221, 232, 17);
  -moz-box-shadow: 0px 0px 20px rgb(221, 232, 17);
  box-shadow: 0px 0px 20px rgb(221, 232, 17); */
  cursor: pointer;
}

.movie-list-container {
  padding-top: 80px;
  /* margin-left: 33px; */
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  height: 300px;
  align-items: center;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}
.movie-list-item {
  margin-right: 30px;
  position: relative;
  /* transition: all 1s ease-in-out; */
}

.movie-list-item:hover .movie-list-item-image {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-image {
  width: 270px;
  height: 200px;
  object-fit: cover;
  transition: all 1s ease-in-out;
  border-radius: 20px;
}

.movie-list-item-title {
  /* background-color: #333; */
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s;
}

.movie-list-item-desc {
  /* background-color: #333; */
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 42%;
  left: 50px;
  width: 230px;
  opacity: 0;
}

.movie-list-item-button {
  background-color: rgb(221, 232, 17);
  color: black;
  padding: 10px;
  /* margin: 10px 30px; */
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px rgb(221, 232, 17);
  -moz-box-shadow: 0px 0px 20px rgb(221, 232, 17);
  box-shadow: 0px 0px 20px rgb(221, 232, 17);
  cursor: pointer;
  position: absolute;
  bottom: 1px;
  left: 55px;
  opacity: 0;
}

.movie-list-title{
  color: white;
  font-family: 'Roboto', sans-serif;
}

.arrow {
  font-size: 100px;
  position: absolute;
  top: 90px;
  right: 0px;
  opacity: 0.6;
  color: rgb(84, 78, 78);
  cursor: pointer;
}

.container.active{
  background-color: white;
}
.featured-movie.active{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #e0cdcd),
  url('../images/black-adam-2022-cover.jpg');
}

.movie-list-title.active{
  color:#151515;
}

.navbar-container.active{
  background-color: white;
  color: black;
}

.sidebar.active{
  background-color: white;
}

.left-menu-icon.active{
  color: #151515;
}
.toggle.active{
  background-color: #151515;
}
.toggle-ball.active{
  background-color: white;
  transform: translateX(-20px);
}
.movie-list-item-title.active{
  color: #151515;
}
.movie-list-item-desc.active{
  color: #151515;
}
@media only screen and (max-width:940px){
  .menu-container{
    display: none;
  }
}


